
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{ padding:25px 50px;}
.section1{
    display: grid; 
    justify-content: center;
    justify-items: center;
}
input,textarea{
    width: 100%; /* Full width */
    height: 40px; /* Adjust height */
    padding: 10px; /* Inner spacing */
    font-size: 16px; /* Text size */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove blue outline on focus */
    background-color: white; /* Background color */
    transition: border 0.3s ease-in-out; /* Smooth transition */
    margin-bottom: 15px;
}
.fontsize{font-size: 9pc;}
.postiontop{
    width: 55pc;
    position: relative;
    top: 30%;
   
}
.postionbottom{
    position: relative;
    bottom: 40%;
}
.section4{display: flex;}
.Hedingfont{font-size: 5pc;}
.bold{font-weight: bold;}
.normalfornt{font-size: 25px;}
.fornt20{font-size: 20px;}
.about,.aboutmsg{width: 80%;}
.aboutmsg{padding:20% 0 0 20%;}
.sectionwidth{ width: 50%;}

.experiencedate{
    font-family: monospace;
    padding-left: 55%;
}
#resume{
    max-height: 500px;
    min-height: 300px;
}
.section7{display: flex;}

    /* section5 */
    .myart{ display :grid;}
    .art1,.art2,.art3{width: 90%;display:flex; gap: 10px;}
    .art2{padding-top: 10px;
        padding-bottom: 50px;
        flex-direction: row-reverse;
    }
.art3{position: relative;bottom:50px;}

@media (max-width:970px){
   
    .about2img{display: none;}

    /* section3 */
   .experiencedate{
    padding-left: 30%;
   }



    .section7{display: grid;}

}

@media (max-width:870px){
    .fontsize{font-size: 7pc;}
    .section2,.section4,.section6{display: grid;}
    .sectionwidth{width: 100%;}
    .about{width: 100%;}
    .programing2{gap: 100px;}
}
